<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <div class="main">
    <div class="left">
      <img class="imgc" src="../assets/Login-amico 1.png" alt="">
      <h2>HEY Admin</h2>
      <p>Nous vous remercions pour votre dévouement et votre travail acharné en tant qu'administrateur. Votre contribution est précieuse.</p>
    </div>
    <div class="right">
      <br>      
      <br>      
      <br>      

      <h1>Heureux de vous revoir </h1>
      <br>      
      <br>      

      <img src="../assets/Logo.png" alt="">
      <br>      
      <br>      

      <h2>Connectez-vous</h2>
      <form (ngSubmit)="onSubmit(a)" #a="ngForm">
      <br>      
      <br>      

            <div class="login">
                <p style="color: red;">{{invalid}}</p>
                    <label for="email">Email</label>
                    <input type="text" placeholder="Email" id="email" name="email" [(ngModel)]="getEmail">
                    <br><br>
                    <label for="password">Mot de Passe</label>
                    <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="getPassword">
                    <br><br>
                <button class="login-btn" type="submit">Se connecter</button>
               
            </div>
        
        </form>
    </div>
  </div>
</body>
</html>


<router-outlet></router-outlet>